/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import '_colors';

html,
body {
  margin: 0;
}

body {
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%) no-repeat;
  background-attachment: fixed !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
